DB_HOST=localhost
DB_PORT=3307
DB_USER=root
DB_PASSWORD=root
DB_NAME=uai_planning
DB_SYNCHRONIZE=true
PORT=3000
CORS_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
AUTH_ACCESS_TOKEN_EXPIRES_IN=8h
AUTH_REFRESH_TOKEN_EXPIRES_DAYS=30
AUTH_ACCESS_PROFILE_CACHE_MS=15000
SYNC_COOKIE_SECRET=local-dev-secret-change-me
SYNC_TLS_ALLOW_INSECURE=true
SYNC_REQUEST_TIMEOUT_MS=45000
SYNC_VALIDATE_TIMEOUT_MS=8000
AULA_VIRTUAL_AUTO_LOGIN_ENABLED=true
AULA_VIRTUAL_LOGIN_URL=https://aulavirtual2.autonomadeica.edu.pe/account/login?ReturnUrl=%2F
AULA_VIRTUAL_USERNAME=72632034
AULA_VIRTUAL_PASSWORD=Leo130304
AULA_VIRTUAL_LOGIN_USERNAME_FIELD=username
AULA_VIRTUAL_LOGIN_PASSWORD_FIELD=password
AULA_VIRTUAL_LOGIN_RETURN_URL_FIELD=ReturnUrl
AULA_VIRTUAL_LOGIN_RETURN_URL_VALUE=/
AULA_VIRTUAL_LOGIN_USER_AGENT=Mozilla/5.0 (UAI Sync)
